/* companies  */

.microsoft {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -450px -630px;
}

.Flipkart {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -400px -505px;
}

.qualcomm {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -560px -630px;
}

.infosys {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -120px -570px;
}

.rakuten {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -736px -10px;
}

.ey {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -120px -630px;
}

.hcl {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -10px -570px;
}

.visa {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -736px -370px;
}

.jio {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -340px -570px;
}

.embibe {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -290px -505px;
}

.samsung {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -736px -130px;
}

.zoho {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -736px -430px;
}

.qo {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -560px -570px;
}

.s-p {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -736px -190px;
}

.intel {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -230px -570px;
}

.fidelity {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -230px -630px;
}

.ge_healthcare {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -340px -630px;
}

.teradata {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -736px -310px;
}

.redhat {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -736px -70px;
}

.tcs {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -736px -250px;
}

.accenture {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -10px -630px;
}

/* case studies  */

.nyc-taxi-cs {
    width: 95px;
    height: 55px;
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -570px -460px;
}



.quora-cs {
    width: 107px;
    height: 55px;
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -570px -385px;
}



.amazon-cs {
    width: 119px;
    height: 55px;
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -570px -310px;
}

.facebook-cs {
    width: 122px;
    height: 55px;
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -570px -235px;
}


.auto-car-cs {
    width: 123px;
    height: 55px;
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -570px -160px;
}



.stackoverflow-cs {
    width: 137px;
    height: 55px;
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -570px -85px;
}



.cancer-cs {
    width: 146px;
    height: 55px;
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -570px -10px;
}


.netflix-cs {
    width: 162px;
    height: 55px;
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -290px -430px;
}

/* success peoples  */
.harish {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -150px -150px;
}

.sristi {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -10px -150px;
}

.ligadhar {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -150px -10px;
}

.bharat {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -10px -10px;
}



/* our team  */
.naveen {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -290px -10px;
}



.murali {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -290px -150px;
}



.satish {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -10px -290px;
}



.srikanth {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -150px -290px;
}



.srinivasa {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -290px -290px;
}



.brahma {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -430px -10px;
}


/* advisors  */

.Chaitanya {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -430px -150px;
}



.Khaleel {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -430px -290px;
}



.Krishna {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -10px -430px;
}



.Sathish {
    background: url('https://d2n989decvba0v.cloudfront.net/images/img_sprites.png') -150px -430px;
}